body{
  font-family: 'Poppins', sans-serif;
}


.BinaryTree{

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#name{

  font-size: 3vw;
  margin:"0 auto";
  font-weight: 800;
  

}


#info{
  width: 98%;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 1.5vw;
}

#info p{
  color: #254569;
}

#opBST{
  display: flex;
  justify-content: center;
  align-items: center;
}

#opBST input{
  width: 10vw;
  height: 3vh;
  padding: 0.3vw;
  border-style: none;
  border: 0.1vw solid #254569;
}

#opBST button{
  width: 5vw;
  height: 2.3vw;
  color: white;
  border-style: none;
  background-color: #254569;
  border-radius: 0.3vw;
  cursor: pointer;

}

#opBST button:disabled{
  background-color: grey;
  cursor:default;
}

.circulo{

  transition: all 0.7s ease-out;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
  animation-name: criaNode;
  font-family: 'Roboto', sans-serif;
}

@keyframes criaNode{
  
  0%{
    r:0;
  }
  50%{
    r:12;
  }
  100%{
    r:7;
  }

}

.texto{
  transition: all 3s ease;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
  animation-name: criaTexto;
  font-family: 'Roboto', sans-serif;
}

@keyframes criaTexto{

  0%{
    font-size:0;
  }
  50%{
    font-size:0.5vw;
  }
  100%{
    font-size:0.3vw;
  }

}


.linha{
  
  transition: all 10s ease;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: move 10s linear;   
  animation-fill-mode: forwards; 

}

@keyframes move {
  100% {
      stroke-dashoffset: 0;
  }
}