body{
  font-family: 'Poppins', sans-serif;
  background-color: white;
}

a, a:hover, a:focus, a:active{
  text-decoration: none;
  color: inherit;
}


.BinaryTree{

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1vh;
  background-color: #ffffff;
}

#name{

  width: 100%;
  font-size: 2vw;
  margin:"0 auto";
  font-weight: 800;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #254569;
  margin-top: 5vh;
}

#name p{
  font-size: 1vw;
}

.bst-main-container{
  width: 96%;
  height: 100%;
  display: flex;
}

.message-container{
  margin-left: 0.5em;
  color: #254569;
  width: 100%;
  height: 25em;
  margin-top: 2vh;
  overflow-y: auto;
}

#svgcontainer{
  margin-top: 2vh;
}


#info{
  width: 98%;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 1.5em;
}

#info p{
  color: #254569;
}

#opBST{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5em;
  width: 95%;
}

#zoominfo-wrapper{
  width: 8em;
}

#messages{
  width: 98%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 3.5vh;
}

@media only screen and (min-width: 1400px) and (max-width: 1700px) {
	#messages{
    width: 98%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 4.5vh;
  }
}

@media only screen and (min-height: 1100px) and (max-height: 1300px) {
	#messages{
    width: 98%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 5vh;
  }
}


input{
  width: 15vw;
  height: 3em;
  /* padding: 0.5em; */
  border-style: none;
  border: 0.1em solid #254569;
}

.button{
  width: 5vw;
  height: 3.4em;
  color: white;
  border-style: none;
  background-color: #254569;
  cursor: pointer;
  font-family: 'Poppins';


}

.button:hover{
  background-color: #1a314b;
}

.button:disabled{
  background-color: grey;
  cursor:default;
}

#footer{
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: large;
}

.circulo{

  transition: all 0.7s ease-out;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
  animation-name: criaNode;
  font-family: 'Roboto', sans-serif;
}



@keyframes criaNode{
  
  0%{
    r:0;
  }
  50%{
    r:12;
  }
  100%{
    r:7;
  }

}

.texto{
  transition: all 3s ease;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
  animation-name: criaTexto;
  font-family: 'Roboto', sans-serif;
}

@keyframes criaTexto{

  0%{
    font-size:0;
  }
  50%{
    font-size:0.5vw;
  }
  100%{
    font-size:0.3vw;
  }

}

.rect{
  transition: all 1s ease-out;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
  animation-name: criaRect;
  font-family: 'Roboto', sans-serif;
}


@keyframes criaRect{
  
  0%{
    transform: scale(0);
  }
  50%{
    transform: scale(1.5);
  }
  100%{
    transform: scale(1);
  }

}

.linha{
  
  transition: all 10s ease;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: move 10s linear;   
  animation-fill-mode: forwards; 

}

.linhaStack{
  
  transition: all 10s ease;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: move 50s linear;   
  animation-fill-mode: forwards; 

}

.linhaList{
  
  transition: all 1s ease;
  stroke-dasharray: 5000;
  stroke-dashoffset: 5000;
  animation: move 15s linear;   
  animation-fill-mode: forwards; 

}

.linhaSearch{
  
  transition: all 1s ease;
  stroke-dasharray: 1500;
  stroke-dashoffset: 1500;
  animation: move 0.5s linear;   
  animation-fill-mode: forwards; 

}


@keyframes move {
  100% {
      stroke-dashoffset: 0;
  }
}



.Stack{
  margin-top: 1vh;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

#infostack{
  width: 25vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

#infolist{
  width: 25vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

#svgcontainerList{
  /* background-color: red; */
}

#StackContainer{
  display: flex;
  justify-content: space-between;
}

#nameStack{
  width: 100%;
  font-size: 2vw;
  margin:"0 auto";
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #254569;
  text-align: center;
  flex-direction: column;
}

#nameStack p{
  font-size: 1vw;
}

#popButton{
  width: 21vw;
}

.LinkedList{
  margin-top: 0.5vh;
}

#varStack{
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.Homepage{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  color: rgb(34, 32, 32);
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  font-family: 'Poppins';
}


.header{
  width: 100%;
  height: 5.5em;
  background-color: black;
  color: white;
  }

.inner-header{
  width: 75em;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  width: 80%;
  
}

.logo h1,.logo p{
  margin: 0;
}

.logo h1{
  font-size: 2.5em;
  font-weight: normal;
}

#header-button{
  border: 0.15em dashed white;
  border-radius: 0.2em;
  padding: 1em 2em 1em 2em;
}

.ApresentacaoDS{
  width: 100%;
}

.data-structure{
  width: 100%;
  height: 30em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-data-structure,.img-data-structure{
  width: 45em;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inner-info{
  width: 90%;
  text-align: center;
}

.inner-info h1{
  font-size: 3em;
  text-transform: uppercase;
}

.visualize-button-1{
  border-style: none;
  padding: 1em 5em 1em 5em;
  font-size: 1.3em;
  border-radius: 2em;
  cursor: pointer;
  font-family: 'Poppins','sans-serif';
  color: white;
  background-color: #09111a;
}

.visualize-button-1:hover{
  background-color: #020508;
}

.visualize-button-2{
  border-style: none;
  padding: 1em 5em 1em 5em;
  font-size: 1.3em;
  border-radius: 2em;
  cursor: pointer;
  font-family: 'Poppins','sans-serif';
  color: black;
  background-color: #e7e7e7;
}

.visualize-button-2:hover{
  background-color: #cacaca;
}

.img-data-structure{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.inner-img{
  width: 90%;
  height: 60%;
  display: flex;
  justify-items: center;
  align-items: center;
  text-align: center;
}

img{
  width: 100%;
  border-radius: 0.3em;
}


.footer{
  width: 100%;
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}



/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #555 #09111a;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.7vw;
}

*::-webkit-scrollbar-track {
  background: #09111a;;
}

*::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 0.5vw;
  border: 0.1vw solid #09111a;;
}
